/*공용사용*/
body {
    background-color: gray;
}


/*메인 페이지 전용*/
.main_form {
    background-color: white;
    width: 300px;
    height: 200px;
    margin: auto;
    border: 1px solid;
}

.main_form input{
    margin-left: 10%;
}

#user_id_login{
    margin-top: 10%;
}

#new{
    margin-left: 10%;
}

#login{
    height: 30%;
    float: right;
    margin-right: 10%;
    margin-top: -20px;
}


/*서브 페이지 전용*/
.sub_form{
    background-color: white;
    width: 600px;
    height: 400px;
    margin: auto;
    border: 1px solid;
}

.info{
    margin-left: 10%;
}

.info_1{
    margin-top: 10%;
}


/*어드민 페이지 전용*/
.admin_main{
    margin: auto;
    width: 1200px;

}

.admin_form_1{
    background-color: white;
    width: 300px;
    height: 500px;
    border: 1px solid;
}

.admin_form_2{
    background-color: white;
    width: 300px;
    height: 500px;
    border: 1px solid;

    margin-left: 37.5%;
    margin-top: -502px;

}

.admin_form_3{
    background-color: white;
    width: 300px;
    height: 500px;
    border: 1px solid;
    
    margin-left: 75%;
    margin-top: -502px;
}